<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
	  <%= htmlWebpackPlugin.tags.headTags.filter(e => e.tagName === 'script') %>
	  <template id="demo-component-css">
	    <%= htmlWebpackPlugin.tags.headTags.filter(e => e.tagName === 'link') %>
	  </template>

  </head>
  <body>
    <demo-component />
  </body>
</html>
