<template>
	<div>When I'm Orange, the CSS injection worked.</div>
</template>

<script lang="ts">
    import {defineComponent} from "vue";

    export default defineComponent({
        props: {
            name: String
        }
    })

</script>
<style scoped lang="scss">
  div {
    background: orange;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border: 1px rgba(255, 165, 0, 0.60) solid;
  }
</style>
