<template>
	<div id="app" ref="injectionElementRef">
		<img alt="Vue logo" src="./assets/logo.png">
		<HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
	</div>
</template>

<script lang="ts">
    import {defineComponent} from 'vue';
    import HelloWorld from './components/HelloWorld.vue';

    export default defineComponent({
        name: 'App',
        components: {
            HelloWorld
        },
        mounted() {
            const el = this.$refs.injectionElementRef as HTMLElement

            const root = el.getRootNode()

            const linkTags = (document.getElementById('demo-component-css') as HTMLTemplateElement)?.content.children;

            Array.from(linkTags).forEach(linkTag => {
                root.insertBefore(linkTag.cloneNode(), el)
            })
        }
    });
</script>

<style lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
